<div class="container">
    <div class="justify-right">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <% if(page != 1) { %>
                <li class="page-item"><a class="page-link" href="/tickets?page=1">First</a></li>
                <% } else {%>
                <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } %>

                <% for (i=1; i <= pages ; i++) { %>
                <%if (i == page) { %>
                <li class="page-item active"><a class="page-link" href="/tickets?page=<%=i%>">
                        <%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/tickets?page=<%=i%>">
                        <%= i %></a></li>
                <% } %>
                <% } %>
                <% if(page != pages) { %>
                <%var nextPage = page + 1%>
                <li class="page-item"><a class="page-link" href="/tickets?page=<%= pages %>">Last</a></li>
                <% } else {%>
                <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } %>

            </ul>
        </nav>
    </div>


    <% tickets.forEach(ticket => { %>
    <a href="tickets/<%=ticket.id%>">
        <div class="card">
            <div class="card-body">
                <p>
                    <% include ./status-subject.ejs %>
                    <%= ticket.subject %>
                </p>
            </div>
        </div>
    </a>
    <% }) %>


    <!-- <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Subject</th>
                <th scope="col">Requester</th>
                <th scope="col">Reqested</th>
                <th scope="col">Updated</th>
                <th scope="col">Group</th>
            </tr>
        </thead>
        <tbody>
            <% for(i=0; i< tickets.length; i++) { %>
            
                <tr>
                    <td>
                        <%= tickets[i].id %>
                    </td>
                    <td>
                        <%= tickets[i].subject %>
                        </th>
                    <td>
                        <%= tickets[i].id %>
                    </td>
                    <td>
                        <%= tickets[i].id %>
                    </td>
                    <td>
                        <%= tickets[i].id %>
                    </td>
                    <td>
                        <%= tickets[i].id %>
                    </td>
                </tr>
            
            <% } %>
        </tbody>
    </table> -->





</div>